@import 'normolize.css';
@font-face {
  font-family: Roboto; 
  src: url(../fonts/Roboto-Regular.ttf);
 }
body {
	font-family: Roboto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #f5f7fa;
}
img {
	width: 150px;
	height: 150px;
}
header {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
	width: 20px;
	height: 20px;
	color: grey;
	margin-right: 5px;
	margin-left: 5px
}
.icon:hover {
	color: rgb(2,0,36);
}
.nav_link {
	list-style: none;
	display: flex;
	flex-direction: row;
}
.page_content {
	width: 100%;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
	width: 70%;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
	background-color: white;
}
.foto_description {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
	position: relative;
	height: 200px;
}
.foto_description h2 {
	position: absolute;
    right: 10%;
    top: 25%;
    color: white;
    font-size: 30px;
}
.img {
	position: absolute;
	left: 10%;
	bottom: -10%;
	 border: 4px solid white; 
}
.about_me, .skills_wr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.about_me p {
	max-width: 550px;
}
.info {
	padding: 20px 70px 20px 70px;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo svg {
	width: 150px;
}
@media (max-width: 770px){
	.foto_description {
	    display: flex;
	    flex-wrap: wrap;
	    height: 250px;
	}
	.foto_description h2 {
	position: absolute;
    left: 5%;
    top: 5%;
    color: white;
    font-size: 30px;
}
	.img {
	position: absolute;
	left: 10%;
	bottom: -10%;
	 border: 4px solid white; 
}
    .about_me {
    	flex-direction: column;
    }
}