@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@import "normalize.css";
body {
    background-color: #fff;
    color: #555;
    font-size: 15px;
    line-height: 1.8;
    overflow-x: hidden;
    margin: 0px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.container_custom {
	max-width: 1200px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.wr_containerHead {
	height: 779px;
	width: 100%;
	background-color: #02160b;
}
.wr-preview {
	background-image: url(../assets/Rectangle.jpg);
	background-color: #02160b;
	background-size: cover;
	background-position: bottom;
	width: 1440px;
	height: 779px;
	color: #fff;
	overflow: hidden;
	filter: drop-shadow(-150px 0px 150px #02160B);
}
header {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
	width: 100%;
}
.logo {
	display: flex;
	justify-content: space-between;
}
.logo svg {
	margin-right: 15px;
}
h1 {
	text-transform: uppercase;
	margin: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 60px;
	/* font-light */
	color: #F7F7F7;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav {
	/*margin-right: */
}
nav ul {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding-top: 5px;
}
.btn {
	width: 120px;
	height: 50px;
	margin-left: 61px;
	border: 2px solid #CD6326;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F7F7F7;
}
.btn:hover {
	background-color: #CD6326;
}
.textLink:hover {
	text-decoration: underline;
}
nav ul svg {
	width: 32px;
	height: 32px;
}
nav ul a {
	margin-left: 61px;
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 60px;
	color: #F7F7F7;
}
nav ul li {
	height: 60px;
	display: flex;
    align-items: center;
}
.survival {
	width: 100%;
}
.name {
	width: 199px;
	height: 72px;
	margin-top: 120px;
	margin-bottom: 51px;
	/* h1 */

	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	/* identical to box height, or 150% */

	letter-spacing: 2px;

	/* /orange-main */

	color: #CD6326;
}
.description {
	width: 274px;
	height: 108px;
	/* /regular */

	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */


	/* font-light */

	color: #F7F7F7;
}
.donate {
	width: 160px;
	height: 60px;
	border-radius: 5px;
	background-color: #CD6326;
	margin-top: 49px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	text-align: center;
	color: #F7F7F7;
}
.donate:hover {
	background-color: #E39128;
}
.wr_containerMain {
	width: 100%;
	height: 1368px;
	background: #CCCCCC;
}
.wr_content {
	width: 1440px;
	height: 1368px;
	background: #CCCCCC;
	background-size: cover;
	overflow: hidden;
}
h2 {
	width: 324px;
	height: 72px;
	margin-top: 120px;
	margin-bottom: 0px;
	/* h2 */
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #333333;
}
.subtitle {
	width: 332px;
	height: 36px;
	margin-top: 20px;
	margin-bottom: 0px;
	/* sh-2 */
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height, or 150% */
	text-align: center;
	/* font-grey */
	color: #666666;
}
.swiper {
	margin-top: 120px;
	width: 100%;
	position: relative;
}
.swiper-container {
    width: 1020px;
    height: 100%;
    }
.swiper-slide {
	position: relative;
    height: 360px;
    text-align: center;
    font-size: 18px;
     /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
    .swiper-slide img {
     	width: 100%;
     }
    /*Стрелки*/
	.swiper-button-prev::after,
	.swiper-button-next::after {
		content: '';
		color: #666666;;
		font-size: 25px;
}
.swiper-button-prev {
	background: url('../assets/prev.svg') ;
	    left: 0px;
    right: auto;
    background-repeat:no-repeat;
    background-position:center;
}
.swiper-button-next {
	    right: 0px;
    left: auto;
	background: url('../assets/prev.svg') ;
	 -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    background-repeat:no-repeat;
    background-position:center;

}
.imgDisription {
	position: absolute;
	bottom: 25px;
	
}
.imgSubtitle {
	margin-top: 5px;
	color: #F7F7F7;
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 27px;
}
.getNotified {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h4 {
	margin-bottom: 0;
		color: #F7F7F7;
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
}
h3 {
	margin-top: 239px;
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	color: #333333;
}
form {
	width: 660px;
	height: 60px;
	display: flex;
	margin-top: 35px;
}
.input {
	width: 530px;
	height: 93%;
	background-color: transparent;
	border: 1px solid #666666;
	border-radius: 1px 1px 1px 1px;
	padding-left: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	color: #666666;
}
.subscribe_button {
	width: 120px;
	height: 100%;
	background: #CD6326;
	border: 1px solid #CD6326;
	border-radius: 0px 5px 5px 0px;
	color: #F7F7F7;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
}
.subscribe_button:hover {
	background-color: #E39128;
}
.wr_containerFooter {
		background-color: #181617;
		height: 359px;
		width: 100%;
}
.wr_footer {
	background-color: #181617;
	background-image: url(../assets/footer.jpg);
	background-size: cover;
	background-position: bottom;
	width: 1440px;
	height: 359px;
	color: #fff;
	overflow: hidden;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.footer_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 224px;
}
.footer_logo p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 60px;
	/* identical to box height, or 187% */

	text-transform: uppercase;

	/* font-light */

	color: #F7F7F7;
}
.footer_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 465px;
	height: 60px;
}
.footer_nav li a {
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 60px;
	color: #F7F7F7;
}
.footer_nav li a:hover {
	text-decoration: underline;
}
.footer_link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_link li {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
}
.footer_link a {
	width: 100%;
	height: 100%;
} 
.footer_link li:not(:last-child) {
	margin-right: 27px;
}
.container_footer {
	height: 100%;
}
.facebook {
	background-image: url(../assets/Frame.svg);
}
.insta {
	background-image: url(../assets/Frame1.svg);
}
.pika {
	background-image: url(../assets/Frame2.svg);
}
.telegram {
	background-image: url(../assets/Frame3.svg);
}